<section class="whoami">
  <div class="hero-container">
    <div class="profile-image">
      <div class="image-box">
        <img src="assets/IMG_20220524_124216.jpg" alt="Marcus Lööv">
      </div>
    </div>
    <div class="hero-content">
      <h2 class="command terminal-text">.Välkommen-Till-Min-Portfolio-Sida</h2>
      <h1 class="name">Marcus Lööv</h1>
      <p class="role">Full-Stack-Junior-Systemutvecklare | Ai-kompetens</p>
      <p class="details">Location: 127.0.0.1 | @Localhost:4200</p>

      <div class="actions">
        <a href="https://docs.google.com/document/d/1hAIWZngK6jeQQJ6kEuie6JWSM8HoyXpT8JIK-KusqPA/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn primary terminal-text">CV.PDF</a>
        <a class="btn secondary terminal-text" routerLink="/projects">PROJECTS</a>
        <a class="btn secondary terminal-text" routerLink="/contact">CONTACT</a>
        <button class="btn secondary terminal-text" (click)="onToggleTheme()">CHANGE COLOR</button>
      </div>
    </div>
  </div>
</section>

<section class="profile-description">
  <h2 class="prompt terminal-text"> CAT BIO.TXT</h2>
  <div class="bio-container">
    <h3>Hej!</h3>
    <p>
      
      Marcus Löf heter jag och är 33 år gammal, bor tillsammans med min sambo och våra 4 barn.  
      Jag är driven, glad, hjälpsam och trevlig som tycker om IT, som sätter laget före jaget.
      I team bidrar jag med nytänk, energi och glädje. Jag tycker om att skratta, 
      ha kul och skapa en positiv stämning runt mig. För mig är det viktigt
      att ett team både fungerar bra tillsammans och har roligt på vägen — det gör oss starkare och mer kreativa.

    </p>
    <h3>Fullstackutvecklare</h3>
    <p>
      Som Full Stack Junior Systemutvecklare med fokus på AI-kompetens, 
      brinner jag för att hitta nya lösningar och 
      förbättra system för att skapa effektiva
      användarvänliga lösningar. 
    </p>
    <h3>Teknisk-profil</h3>    
    <p>
      Min utbildning har gett mig en stabil grund inom backend‑utveckling med C#/.NET
       samt bred erfarenhet inom frontend där jag arbetat i JavaScript med flera olika ramverk. 
      Jag är van vid att arbeta både självständigt och i team och har erfarenhet av bland annat Git merge‑konflikter, 
      OOAD (Object-Oriented Analysis and Design) samt att ta fram proof of concept‑lösningar. 
      Som fullstackstudent har jag fått beröra de flesta delar av systemutveckling.
    </p>
    <h3>Erfarenhet-personliga-egenskaper</h3>
    <p>
      Min tidigare erfarenhet som stödassistent har utvecklat min pedagogiska förmåga och min styrka i att lösa praktiska problem. 
      Åren som kock – bland annat som kökschef på Hölick Havsresort – har gett mig hög stresstålighet, struktur och en naturlig känsla för att samarbeta, samtidigt som jag har lätt att ta eget ansvar.
      Systemutveckling har blivit tydligare och tydligare som rätt väg för mig – det är helt enkelt otroligt roligt, och något jag vill fortsätta utvecklas inom.
    </p>
  </div>
</section>

<!--  -->